.el-header,.el-footer{
    height: 50px !important ;
    padding: 0;
    line-height: 50px;
    background-color: #b3c0d1;
    color: #333;
    text-align: center;
}

.el-main{
    height: 100% !important;
    background-color: #efefef;
    color: #333;
    text-align: center;
    padding: 10px 0px;
}

.el-table__body,.el-table__header,.el-table__empty-block,.el-table__footer{
    width: initial !important;
    font-size: 15px;
}
.el-table .cell{
    text-align: center;
    
}

.el-table{
    margin: 10px 0px;
}

.el-form--label-top .el-form-item__label{
    padding: 0 !important;
}
.el-form--label-top .el-form-item__label{
    line-height: 20px;
}

.el-form-item {
    margin-bottom: 15px !important;
}

.my_message{
    width: 150px;
}

